<ui:composition template="Template.xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="content">
		<h:form id="formLogin">
			<p:panel header="Login" rendered="#{LoginMB.user.id == null}">
				<p:messages id="messages" showDetail="true" autoUpdate="true"
					closable="true" />
				<p:panelGrid columns="2">
					<h:outputLabel value="Login" />
					<h:inputText required="true" requiredMessage="Nome de ser informado!"
						id="login" value="#{LoginMB.user.name}" />
					<h:outputLabel value="Senha" />
					<h:inputSecret required="true" requiredMessage="Senha deve ser informada!"
						id="senha" value="#{LoginMB.user.password}" />
					<h:commandButton action="#{LoginMB.logar}" value="Entrar"
						id="logar" />
				</p:panelGrid>
			</p:panel>
			<p:panel>
				<h:outputText style="font-size:40px"
					rendered="#{LoginMB.user.id > 0}" class="label label-primary"
					value="Bem Vindo, #{LoginMB.user.name}! " />
			</p:panel>
			<h:message for="formLogin" />
		</h:form>
	</ui:define>
</ui:composition>

