<ui:composition template="Template.xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="content">

		<h:form id="formListaPedidos">
			<p:panel header="Pedidos">
				<p:dataTable id="dadosPedidos" var="pedido" value="#{PedidoMB.pedidos}">
					<p:column headerText="Código">
						<h:outputText value="#{pedido.id}" />
					</p:column>

					<p:column headerText="Data">
						<h:outputText value="#{pedido.dataConvert}" />
					</p:column>
					<p:column>
						<p:commandButton value="Ver Produtos" ajax="false" 
							action="#{PedidoMB.updateSelecionado(pedido)}" class="label label-primary"/>
					</p:column>
					
				</p:dataTable>
				<p:poll interval="2" listener="#{PedidoMB.init}" update="dadosPedidos" />
			</p:panel>
		</h:form>
	</ui:define>
</ui:composition>