<ui:composition template="Template.xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="content">

		<h:form id="formPedido">

			<!-- Tabela para selecao de Produtos -->
			<p:panel header="Meu Pedido">
				<p:dataTable id="dadosPedido" var="produto" value="#{PedidoMB.produtosPedido}">
					<p:column headerText="Descrição">
						<h:outputText value="#{produto.descricao}" />
					</p:column>

					<p:column headerText="Valor Unitário">
						<h:outputText value="#{produto.valorUnitario}" />
					</p:column>
					
					<p:column headerText="Unid. Medida">
						<h:outputText value="#{produto.unidadeMedida}" />
					</p:column>

					
					<p:column>
						<p:commandLink value="Excluir" update="dadosPedido" ajax="true" class="label label-danger"
							action="#{PedidoMB.remove(produto)}" />
					</p:column>
				</p:dataTable>
			</p:panel>
			<br/>
			
			<p:panel>
				<p:commandLink action="Produtos.xhtml" value="Voltar aos Produtos" class="label label-primary"/>
				
				<p:commandButton action="#{PedidoMB.novoPedido}" value="Finalizar Pedido" style="float:right;"/>
				<p:outputLabel id="labelTotal" value="Total: RS #{PedidoMB.total}" style="float:right; height:32px" class="label label-success"/>
			</p:panel>
		</h:form>
	</ui:define>
</ui:composition>

