<ui:composition template="Template.xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="content">

		<h:form id="formCadProduto">
			<!-- Formulário para cadastro de Produtos -->
			<p:panel header="Dados do Produto">
				<p:panelGrid columns="2">
					<h:outputText value="Descrição: " />
					<p:inputText id="descricao" value="#{ProdutoMB.produto.descricao}" />
			
					<h:outputText value="Valor Unitário: " />
					<p:spinner id="valorUnitario" size="10"
						value="#{ProdutoMB.produto.valorUnitario}" prefix="$" min="0" />
			
					<h:outputText value="Tamanho: " />
					<p:spinner id="tamanho" size="10"
						value="#{ProdutoMB.produto.tamanho}" min="0" />
	
					<h:outputText value="Unidade de Medida: " />
					<p:selectOneMenu id="unidadeMedida" 
						value="#{ProdutoMB.produto.unidadeMedida}">
						<f:selectItem itemLabel="L" itemValue="L" />
						<f:selectItem itemLabel="ML" itemValue="ML" />
						<f:selectItem itemLabel="GR" itemValue="GR" />
						<f:selectItem itemLabel="KG" itemValue="KG" />
						<f:selectItem itemLabel="UN" itemValue="UN" />
					</p:selectOneMenu>
					<br/>
					<p:commandButton value="Cadastrar" action="#{ProdutoMB.save}"
						ajax="false" />
				</p:panelGrid>
			</p:panel>

		</h:form>

	</ui:define>
</ui:composition>

