<ui:composition template="Index.xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="content">

		<h:form id="produtosDoPedido">
			<p:panel header="Produtos do Pedido #{PedidoMB.selecionado.id}">
				<p:dataGrid id="tabelaProdutosPedido" var="produto" value="#{PedidoMB.produtosSelecionado}" columns="4"
					rows="12">
					<h:panelGrid columns="1" style="width:100%">
						<h:outputText value="#{produto.descricao}" />
						<h:outputText value="Valor: R$ #{produto.valorUnitario}" />
						<h:outputText value="Unid. Medida: #{produto.unidadeMedida}" />
						<h:outputText value="Tamanho: #{produto.tamanho}" />
					</h:panelGrid>
				</p:dataGrid>
			</p:panel>

		</h:form>

	</ui:define>
</ui:composition>

