<ui:composition template="Template.xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="content">

		<h:form id="formProdutos">
			<p:panel header="Produtos">
				<p:dataGrid id="tabelaProdutos" var="produto" value="#{ProdutoMB.produtos}" columns="4"
					rows="12">
					<h:panelGrid columns="1" style="width:100%">
						<h:outputText value="#{produto.descricao}" />
						<h:outputText value="Valor: R$ #{produto.valorUnitario}" />
						<h:outputText value="Unid. Medida: #{produto.unidadeMedida}" />
						<h:outputText value="Tamanho: #{produto.tamanho}" />
						<p:commandButton value="Adicionar"
							action="#{PedidoMB.addProduto(produto)}" ajax="false" rendered="#{LoginMB.user.id > 0}"/>
					</h:panelGrid>
				</p:dataGrid>
				<p:poll interval="2" listener="#{ProdutoMB.init}" update="tabelaProdutos" />
			</p:panel>

		</h:form>
	</ui:define>
</ui:composition>

