<ui:composition template="Template.xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="content">

		<h:form id="form" style="width:100%;">

			<!-- Tabela para selecao de Produtos -->
			<p:panel header="Produtos" style="width:100%;">
				<p:scrollPanel style="height:10%" mode="native">
					<p:remoteCommand name="updateGrowl" update="dadosProducts" />
					<p:dataTable id="dadosProducts" var="produto"
						value="#{ProdutoMB.produtos}">
						<p:column headerText="Descricao">
							<h:outputText value="#{produto.descricao}" />
						</p:column>

						<p:column headerText="Val.Unit.">
							<h:outputText value="#{produto.valorUnitario}" />
						</p:column>

						<p:column headerText="Un.Med.">
							<h:outputText value="#{produto.unidadeMedida}" />
						</p:column>

						<p:column headerText="Tamanho">
							<h:outputText value="#{produto.tamanho}" />
						</p:column>

						<p:column>
							<p:commandLink value="Editar" update="dadosProducts"
								ajax="true" action="#{ProdutoMB.edit(produto)}" />
						</p:column>
						<p:column>
							<p:commandLink value="Excluir" update="dadosProducts"
								oncomplete="#{ProdutoMB.init()}; updateGrowl();" ajax="true"
								action="#{ProdutoMB.remove(produto)}" />
						</p:column>
					</p:dataTable>
					<p:poll interval="2" listener="#{ProdutoMB.init}"
						update="dadosProducts" />
				</p:scrollPanel>
			</p:panel>
		</h:form>
	</ui:define>
</ui:composition>

