<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Polako Maltes Finos</title>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</h:head>
<h:body style="margin:0">
	<script src="https://code.jquery.com/jquery.js" />
	<script src="bootstrap/js/bootstrap.min.js" />

	<div class="jumbotron" style="margin-bottom: 0px; padding-top: 15px;">
		<div id="titulo" style="width: 450px;">
			<h1>
				Polako <small>Maltes Finos</small>
			</h1>
		</div>
		<div id="titulo"
			style="width: 850px; float: right; margin-top: -115px;">
			<img src="img/topo.png" alt="" width="180px" height="180px" />
		</div>
	</div>

	<h:form id="form">
		<p:menubar>

			<p:menuitem value="   Ola, #{LoginMB.user.name}!  "
				rendered="#{LoginMB.user.id > 0}" action="Index.xhtml" />

			<p:menuitem value="Home" icon="ui-icon-star"
				rendered="#{LoginMB.user.id == null}" action="Index.xhtml" />

			<p:menuitem value="Logout" icon="ui-icon-close"
				rendered="#{LoginMB.user.id > 0}" action="#{LoginMB.logout()}"
				update="@all" ajax="false"/>

			<p:submenu label="Produtos" icon="ui-icon-star">
				<p:menuitem value="Cadastro" icon="ui-icon-pencil"
					rendered="#{LoginMB.user.admin == true}" action="ProdutoCad.xhtml" />
				<p:menuitem value="Pesquisar" icon="ui-icon-search"
					action="Produtos.xhtml" />
				<p:menuitem value="Atualizar" icon="ui-icon-search"
					action="ProdutosAtualizar.xhtml"
					rendered="#{LoginMB.user.admin == true}" />
			</p:submenu>

			<p:submenu label="Pedido" icon="ui-icon-star"
				rendered="#{LoginMB.user.id > 0}">
				<p:menuitem value="Meu Pedido" icon="ui-icon-document"
					rendered="#{LoginMB.user.admin == false}" action="Pedido.xhtml" />
				<p:menuitem value="Pesquisar" icon="ui-icon-search"
					rendered="#{LoginMB.user.admin == true}" action="Pedidos.xhtml" />
			</p:submenu>

			<p:submenu label="Usuários" icon="ui-icon-star"
				rendered="#{LoginMB.user.admin == true}">
				<p:menuitem value="Novo" icon="ui-icon-person"
					action="UserCad.xhtml" />
				<p:menuitem value="Pesquisar" icon="ui-icon-search"
					action="Users.xhtml" />
			</p:submenu>
		</p:menubar>
	</h:form>

	<h:form id="content">
		<ui:insert name="content" />
	</h:form>
	<p:panel style="position:absolute;
	bottom:0;
	width:100%;">
		<center>@Copyright 2014 - Raulzera Ltda.</center>
	</p:panel>

</h:body>
</html>

