<ui:composition template="Template.xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="content">

		<h:form id="formUser">
			<!-- Formulario para cadastro de Usuarios -->
			<p:panel header="Dados do Usuario">
				<p:panelGrid columns="2">
					<h:outputText value="Nome: " />
					<p:inputText id="name" value="#{UserMB.user.name}" />
					<h:outputText value="Senha: " />
					<h:inputSecret id="password" value="#{UserMB.user.password}" />
					<h:outputText value="Confirmar Senha: " />
					<h:inputSecret id="confPassword" value="#{UserMB.user.password}" />
					<h:outputText value="Email: " />
					<p:inputText id="email" value="#{UserMB.user.email}" />
					<br/>
					<p:commandButton value="Cadastrar"
						oncomplete="#{UserMB.init()}; Users:formUsers"
						action="#{UserMB.save}" ajax="false" />
				</p:panelGrid>
			</p:panel>
		</h:form>

	</ui:define>
</ui:composition>

