<ui:composition template="Template.xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="content">

		<h:form id="form">

			<!-- Tabela para selecao de Produtos -->
			<p:panel header="Usuarios">
				<p:dataTable id="dadosUsers" var="user" value="#{UserMB.users}">
					<p:column headerText="Codigo">
						<h:outputText value="#{user.id}" />
					</p:column>

					<p:column headerText="Nome">
						<h:outputText value="#{user.name}" />
					</p:column>

					<p:column headerText="Email">
						<h:outputText value="#{user.email}" />
					</p:column>
					<p:column>
						<p:commandLink value="Editar" update="dadosUsers" 
							ajax="true" action="#{UserMB.edit(user)}" class="label label-primary"/>
					</p:column>
					<p:column>
						<p:commandLink value="Excluir" update="dadosUsers"
							oncomplete="#{UserMB.init()}" ajax="true"
							action="#{UserMB.remove(user)}" class="label label-danger"/>
					</p:column>
				</p:dataTable>
				<p:poll interval="2" listener="#{UserMB.init()}" update="dadosUsers" />
			</p:panel>
		</h:form>
	</ui:define>
</ui:composition>

